{% block mr_tree_widget %}
    {{ form_label(form) }}
    <div class="mrTreeWidget" data-mr-tree-widget='{"id": "{{ field_id }}"}'>
        <div class="mrTreeWidget__tree"></div>

        <input class="mrTreeWidget__input" type="hidden" name="{{ name }}">
    </div>

    <script>
        window['{{ field_id }}'] = {
            data: {{ tree | json_encode | raw }},
            multiple: {{ multiple }}
        };
    </script>
{% endblock %}