{% block mr_tree_widget %}
    {{ form_label(form) }}
    <div class="mrTreeWidget" data-mr-tree-widget='{"name": "{{ field_id }}"}'>
        <div class="mrTreeWidget__tree"></div>
    </div>

    <script>
        window['{{ field_id }}'] = {
            data: {{ tree | json_encode | raw }},
            multiple: {{ multiple }}
        };
    </script>
{% endblock %}