{% block mr_tree_widget %}
    <div class="mrTreeWidget" data-mr-tree-widget='{"id": "{{ field_id }}"}'>
        <div class="mrTreeWidget__tree"></div>

        <input class="mrTreeWidget__input" type="hidden" name="{{ full_name }}" value="{{ value | join(',') }}">
    </div>

    <script>
        window['{{ field_id }}'] = {
            data: {{ tree | json_encode | raw }},
            multiple: !!{{ multiple ? 1 : 0 }},
            upCascadeSelect: !!{{ up_cascade_select ? 1 : 0 }},
            idSeparator: {{ id_separator }},
        };
    </script>
{% endblock %}